.AboutMe{
    background-color: black;
    height: 100vh;
    width: 100wh;
   
 
}

.AboutMe .Container{
    display: flex;
    margin: 0%;
}

.AboutMe .Container .Text{
    width: 90%;
    margin-left: 3%;
    margin-right: 0%;
    justify-content:center;
    
}

.AboutMe .Container .Text h2{
    font-weight: 900;
    font-size: 60px;
}

.AboutMe .Container .Text p{
    font-weight: 600;
    font-size: 30px;
   
    
}

.AboutMe .Container .Photo {
   width: 30%;
   display: flex;
   justify-content: center;
   align-items: center;
   
  
   
}

.AboutMe .Container .Photo .Me{
    height: 400px;
    margin-top: 10%;
    border-radius: 20%;
    background-color: rgb(66, 57, 57);
}

@media (max-width: 900px){

    .AboutMe{
        height: 1500px;
    }

    .AboutMe .Container{
        flex-direction: column;
        align-items:center;
    }
    .AboutMe .Container .Photo {
        width: 100%;
    }
    .AboutMe .Container .Photo .Me{
        max-height: 500px;
        max-width: 350px;
        height: 60%;
        width: 60%;
    }   
    .AboutMe .Container .Text{
        width: 100%;
    }
   
  

}

@media (max-width: 500px){

    .AboutMe .Container .Photo .Me{
        height: 80%;
        width: 80%;
     }   

}