.Container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-bottom: 3%;
    padding-top: 3%;
    
}

.Container hr{
    position: absolute;
    left: 0; 
    width: 124px;
    border: 1px solid #8C1CD1;
    margin-top: 3%;

}

.Container h1{
    color: white;
    margin-top: 5%;

}

@media (max-width: 830px){
    .Container{
        padding-top: 10%;
    }

}

@media (max-width: 400px){
    .Container{
        padding-top: 25%;
    }

}
