html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.Home{
    background-color: black;
    display: flex;
    height: 100vh;
    padding-top: 80px;
    position: relative;
   
    background-image: url('./../../img/BackgroundImg.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    padding-bottom: 56.25%;
    height: 60vh;
 
}


.Home .Container .Hello{
    margin: 0px;
    color: white; 
    
    font-size: 6rem;
    background-color: black;

    border-radius: 1.8rem;
    border-style: solid;
    border-width: 0.4rem;
    border-color: #18898f;
    padding-left: 1rem;
    padding-right: 1rem;
    -webkit-animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
    


.Home .Container .title{
    margin: 0px;
    margin-top: 0.5em;
    color: #18898f; 
    font-size: 2.3em;
    background-color: black;
    
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.4rem;
    border-color: #18898f;
    padding-left: 1rem;
    padding-right: 1rem;
    display: inline-block;
    -webkit-animation: slide-in-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
                animation: slide-in-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
    
    
}

.Home .Container .title span{
    color: white;
    font-weight: bolder; 
}

.Home .Container {
    z-index: 998;
    margin-left: 0%;
    margin-top: 15%;
    padding-left: 5%;
    background-color: transparent; 
}

.Home .Container .Buttons{
    margin-top: 1em;
    display: flex;
    justify-content: left;
    -webkit-animation: slide-in-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	        animation: slide-in-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}

.Home .Container .Buttons button{
    min-width: 160px;
    min-height: 45px;
    border-style: solid;
    border-width: 0.2em;
    border-color: #18898f;
    border-radius: 16px;
    font-weight: bolder;
    font-size: 1.2em;
    background-color: #18898f;
    color: white;
   
}

.Home .Container .Buttons .ProjectsButton{
    margin-left: 1em;
}
/*Slide-in-top animation*/

 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

  /*Slide-in-right animation*/

  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

/*Slide-in-bottom animation*/

  @-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  


@media (max-width: 1350px){


    .Home .Container .Hello{
       font-size: 6rem;   
    }

    .Home .Container .title{ 
        font-size: 2rem;  
        border-width: 0.2rem;
    }


    .Home .Container {
       
        margin-top: 23%;
        padding-left: 5%;
       
    }
    
}

@media (max-width: 1150px){


    .Home .Container .Hello{
       font-size: 5rem;   
    }

    .Home .Container .title{ 
        font-size: 2rem;  
    }
  

    .Home .Container {
       
        margin-top: 30%;
        padding-left: 5%;
       
    }
    
}


@media (max-width: 950px){

    .Home .Container .Hello{
        font-size: 4rem; 
        margin-right: 1.5rem;
  
     }
 
     .Home .Container .title{ 
         font-size: 1.6rem;  
     }
     
  
     .Home .Container {
        
         margin-top: 40%;
         padding-left: 5%;
        
     }

     .Home .Container .Buttons button{
        min-width: 120px;
        min-height: 35px;
    }


}

@media (max-width: 400px){

    .Home .Container .Hello{
        font-size: 3rem;   
     }
 
     .Home .Container .title{ 
         font-size: 1.6rem;
         margin-right: 2rem;
          
     }
  
 
     .Home .Container {
        
         margin-top: 40%;
         padding-left: 5%;
        
     }

     .Home .Container .Buttons button{
       flex-direction: column;
    }

}
@media (max-width: 350px){
    .Home .Container .Buttons {
        flex-direction: column;
        
    }

    .Home .Container .Buttons a button{
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    .Home .Container .Buttons .ProjectsButton{
        margin-left: 0;
        margin-top: 0.5em;
        text-align: center;
        
    }
}

@media (max-width: 260px){

    .Home .Container .Buttons button{
        max-width: 100px;
        font-size: 0.9em;
    }

    .Home .Container .Hello{
        font-size: 2rem;   
     }
 
     .Home .Container .title{ 
         font-size: 1.3rem;  
          
     }
    
     .Home .Container {
        
         margin-top: 50%;
         padding-left: 2%;
        
     }

}
