.Contact{
   
    background: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}
.Contact .ContactIcons{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.Contact .ContactIcons svg path{
    cursor: pointer;
}

.MyForm {
    color: white;
    font-size: 20px;
}