.Contact{
    background: black;
    height: 10vh;
    display: fixed;
    height: 100vh;

}
.Contact .ContactIcons{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.Contact .ContactIcons svg path{
    cursor: pointer;
}