.NavBar{
    background: #181818;
    background: black;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 999;
    opacity: 0.9;
    display: flex;
    justify-content: right;
    align-items: center;
    color: white;
    position: fixed;
    border-bottom: 2px solid #45d4d9
  
}

.NavBar .NavBarName{
    text-decoration: none;
    position: absolute; 
    left: 1em; 
    font-weight: bolder; 
    font-size: 1.8em;
}

.NavBar .NavBarName span{
    color: #45d4d9;
}

.NavBar .NameTag {
    position: absolute;
    margin-right: 87%;
  
    
}
.NavBar .NameTag a{
    color:white;
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
}

.NavBar nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.NavBar nav ul li{
    display: inline-block;
    margin: 60px;
}

.NavBar nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.NavBar a:hover{
    border-bottom: 5px solid #45d4d9
}
.NavBar .NavBarName:hover{
    border-bottom: 0px;
}


.NavBar .MobileNavigation{
    display: none;
}
@media (max-width: 990px){
    .NavBar .Navigation{
        display: none;
    }
  
    .NavBar .MobileNavigation{
        display: flex;
        align-items: center;
        justify-content: right;
         width: 100%;
         
    }

    .NavBar .MobileNavigation .Hamburger{
        position: absolute;
        margin-left: 0%;
        cursor: pointer;

    }
    .NavBar nav ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        background: #181818;
        border-top: 2px solid #45d4d9;

    }

    .NavBar nav ul li{
        padding-left: 35%;
    }
    .NavBar{
        opacity: 1;
    }
    .NavBar a:hover{
        border-bottom: none;
        color: #45d4d9;
    }
    .Hamburger{
        padding-right: 1em;
    }


}

@media (max-width: 270px){

    .NavBar .NavBarName{
        
        font-size: 1.3em;
    }

}